<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <div><%= title %></div>
      <div><%= path %></div>
      <div><%= query %></div>
      <div><%= ip %></div>
      <div><%= user_agent %></div>
      <div><%= Host %></div>
      <div><%= Origin %></div>
      <div><%= Referer %></div>
      <div><%= cookies %></div>
    
     
    </div>
  
  </body>
</html>
